.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-logo {
  width: 120px;
  margin-bottom: 20px;
}

.auth-box {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.auth-btn {
  width: 100%;
  background: #16a34a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #15803d;
}

.switch-text {
  margin-top: 10px;
  text-align: center;
}

.switch-text span,
.auth-link {
  color: #16a34a;
  cursor: pointer;
  font-weight: bold;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
